# ===========================================================================
# ===== !!! WARNING !!! WARNING !!! WARNING !!! WARNING !!! WARNING !!! =====
# ===========================================================================
# === This script is managed by Ansible! Any manual changes will be lost! ===
# ===========================================================================
#
# This config was written to work around OpenVZ truncating a container's
# hostname, on every reboot, to the section before the first dot - this way,
# hostnames are reboot-safe!
#
# This script was written for Poniverse.

[Unit]
Description=Fix hostname

[Service]
ExecStart=/bin/sh -c 'echo "{{ inventory_hostname }}" > /etc/hostname; hostname -b -F /etc/hostname'
Restart=always

[Install]
WantedBy=multi-user.target
